<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WidgetDemoIOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>48157824375D304E0A3CF4A7F6AF9701F4912AC3</string>
				<key>dateExpires</key>
				<string>2026-09-10</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>68YL3RDDT9.ca.virgocx.test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>68YL3RDDT9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>WidgetDemoIOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eff23ff3-0226-465a-bc09-b6c4879a98a9</string>
				<key>dateExpires</key>
				<string>2026-09-10</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ca.virgocx.test</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>68YL3RDDT9</string>
				<key>name</key>
				<string>VirgoCX Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>2.2.5</string>
		</dict>
	</array>
</dict>
</plist>
