############################################
# OS / Editor
############################################
.DS_Store
*.log
*.swp
*.swo
.idea/
.vscode/
*.iml

############################################
# Node (if used)
############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################################
# Flutter / Dart
############################################
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
doc/api/

############################################
# Android
############################################
android/.gradle/
android/local.properties
android/**/build/
android/app/debug/
android/app/profile/
android/app/release/

# Android signing (NEVER COMMIT)
*.jks
*.keystore
**/key.properties

############################################
# iOS / Xcode
############################################
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id

# Xcode user-specific
ios/**/xcuserdata/
ios/**/*.xcuserstate
DerivedData/
*.xcarchive
*.ipa

############################################
# Apple signing / profiles (NEVER COMMIT)
############################################
*.p12
*.pem
*.mobileprovision
